@import "tipografia.scss";
@import "colores.scss";

*{
    margin: 0;
    padding: 0;
    font-family: $font; 
}
section{
    min-height: 80vh;
}
header{
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.66); 
    background-color: $color-header;
    width: 100%;
    height: 10vh;
    position: relative;
    top: 0%;
    left: 0%;   
    #nav{
        position: relative;
        background-color: $color-header;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        z-index: 1;        
        a:hover{
            color: white;
            transition: all 0.3s;
        }        
    }
    .logo{
        height: 40px;
        width: 40px;}
}   
footer{    
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: $color-footer;
    box-shadow: 0px -1px 7px 1px rgba(0,0,0,0.66); 
    .rrss{
        margin: 0;
        padding: 0;   
        display: flex;
        justify-content: center;
        align-items: center;
        .rrss__lista{
            list-style-type: none;
            margin-right: 5px;
            margin-left: 5px;
            .rrss__lista__enlace{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                text-decoration: none;    
                color: black;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                font-size: 25px;
                transition: 0,5s; 
            }
            .rrss__lista__enlace:hover{
                color: white; 
            } 
        }
    }
}
.rrss .rrss__lista:nth-child(1) .rrss__lista__enlace:hover{
    background-color: #3b5999;
}
.rrss .rrss__lista:nth-child(2) .rrss__lista__enlace:hover{
    background-color: #e4405f;
}
.rrss .rrss__lista:nth-child(3) .rrss__lista__enlace:hover{
    background-color: #00bb2d;
}
.rrss .rrss__lista .rrss__lista__enlace:hover:before{
    transform: scale(1);
    transition: 0.5s;
}
h1{
    margin: 20px 0;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 3px 5px rgba(138, 136, 136, 1);
}
h2{
        margin: 10px;
        text-transform: uppercase;
        text-align: center
    }

span{
    font-weight: bold;
}
/*Actividades*/
.row__card{
    justify-content: space-around;
    .card{
        box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.66);
        margin: 20px;
        text-align: center;
        transition: all 0.5s;
    }
}
.card:hover{
     transform: translate(0, -20px);
}
/*Nosotros*/
.nosotros__contenedor{
    display: flex;
    align-items: center;
    .nosotros__items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .nosotros__img{
            width: 85%;
            height: auto;
            margin-bottom: 10px;
            box-shadow: 0 2px 2px rgb(0, 0, 0 /20%)  
        }
        .nosotros__pie{
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }
    }    
}
@media only screen and (min-width: 480px) {
    .nosotros__texto{
        margin-left: 20px;}
    }
/*Galeria*/
.galeria__contenedor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    .galeria__video{
        width: 80%;
        height: auto;
        margin: 20px;  
    }
}
.galeria__carousel{
    margin: 20px;
}
.galeria__desktop{
    display: grid;
    margin: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;
    .galeria__img{
        width: 100%;
        height: 100%;}
}
@media only screen and (min-width: 768px) {
    .galeria__mobile{
        display: none;}
        .galeria__img{
        cursor: pointer;
        filter: grayscale(80%);}
        .galeria__img:hover{ filter: grayscale(0%);
        box-shadow: 0 2px 2px rgb(0, 0, 0 /20%)}
    }
@media only screen and (max-width: 768px) {
    .galeria__desktop{
        display: none;}
    }
/*Contacto*/
.formulario__contenedor{
    display: flex;
    justify-content: space-evenly;
    margin: 25px;   
    flex-wrap: wrap;
    .form{
        text-align: center;
        width: 500px;
        .form__section{
            width: 100%;
            textarea{
                height: 110px;
                resize: none;}
        }
        .form-control{
            outline: none;
            border-radius: 10px;
            border-bottom: 3px solid #36d4e4;}
    }
    .ubicacion{
        text-align: center;
        width: 500px;}
}
.form-control:focus{
    outline: none;
    box-shadow: 1px 1px 4px 1px #000000;}

@media only screen and (min-width: 480px){
    .mapa__contacto{
        width: 400px;}
    }
/*Index*/
.bg{
    background-image:url(../images/fondo1.png);
    background-position: center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bg__text{
        text-transform: uppercase;
        color: white;
        text-shadow: 3px 3px 10px rgba(150, 150, 150, 1);
        .bg__titulo{
            margin: 30px 0 0;
            padding: 30px 0 0;
            font-size: 14vmin;
        }
        .bg__subtitulo{
            margin: 0 0 20px;
            font-weight: bold;  
            font-size: 7vmin;     
        }
        .contenedor__actividades{
            display: flex;
            justify-content: center;
        }
        .bg__actividades{
            text-align: center;  
            font-weight: bold;  
            font-size: 4.5vmin; 
            margin: 0 10px 5px;    
            .bg__enlaces{
                list-style-type: none;
                text-decoration: none;
                color: white;
            }
        }
    }
}
@media only screen and (min-width: 480px){
    .bg__subtitulo{
        padding-bottom: 15px;}
    }
a.bg__enlaces:hover{
    text-shadow: 3px 5px 26px rgba(146, 240, 176, 1);
}
